<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content ">
        <span class="card-title"><%= @user.username %></span>
        <span class="card-content">
          <blockquote>
            <% if @user.picture.to_s.empty? %>
              <p><i class="medium material-icons">perm_identity</i></p>
            <% else %>
              <p><%= image_tag @user.picture.to_s, class: 'img-circle' %></p>
            <% end %>
            <% if current_user && current_user.username == @user.username %>
              <p><b> Full name:        </b> <%= @user.full_name %> </p>
            <% end %>
            <p><b> Verified:           </b> <%= @user.verified %> </p>
            <p><b> Account created at: </b> <%= @user.created_at.strftime('%d-%m-%Y-T%H:%M:%z') %> </p>
          <blockquote>
        </span>
      </div>
      <% if current_user && current_user.provider != 'facebook' && current_user.username == @user.username %>
        <div class="card-action light-blue darken-4">
          <!-- <%= link_to 'Change Account Details', edit_user_registration_path(@user) %> -->
          <%= link_to edit_user_registration_path(@user) do %>
            <i class="small material-icons">mode_edit</i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if @sell_ads.count > 0 %>
  <h4> Sell </h4>

  <table class="striped highlight centered">
    <thead>
      <tr>
          <th data-field="name">Title</th>
          <th data-field="price">Price</th>
          <th data-field="amount">Amount</th>
          <th data-field="action">Action</th>
      </tr>
    </thead>

    <tbody>
      <%= render(@sell_ads) || "No sell advertisements published yet." %>
    </tbody>
  </table>
<% end %>

<% if @buy_ads.count > 0 %>
<h4> Buy </h4>

<table class="striped highlight centered">
  <thead>
    <tr>
        <th data-field="name">Title</th>
        <th data-field="price">Price</th>
        <th data-field="amount">Amount</th>
        <th data-field="action">Action</th>
    </tr>
  </thead>

  <tbody>
    <%= render(@buy_ads) || "No buy advertisements published yet." %>
  </tbody>
</table>
<% end %>
