<tr>
  <% unless @user %>
    <td>
      <%= link_to advertisement.user.username, user_path(advertisement.user)%>
    </td>
  <% end %>
  <td><%= advertisement.title %></td>
  <td><%= number_to_currency(advertisement.price_cents) %></td>
  <td><%= advertisement.amount %></td>
  <td>
    <div class="ad-list">
      <%= link_to 'Show', advertisement_path(advertisement), class: "waves-effect waves-light btn"%>
    </div>
  </td>
</tr>
