<div class="row edit-ad">
  <div class="col s3"></div>
  <div class="col s6">
  <%= form_for @advertisement do |f| %>
    <%= f.text_field :title, placeholder: 'Title'%>
    <%= f.text_area :description , placeholder: 'Description'%>
    <%= f.text_field :price_cents, placeholder: 'Price' %>
    <%= f.text_field :amount, placeholder: 'Amount' %>
    <%= f.select :status, options_for_select(Hash[Advertisement.statuses.map { |k,v| [ k.split('_').first.capitalize, k ]}], @advertisement.status) %>
    <%= f.select :ad_type, options_for_select(Hash[Advertisement.ad_types.map { |k,v| [ k.split('_').first.capitalize, k ]}], @advertisement.ad_type) %>

    <%= f.submit 'Edit Advertisement', class: 'btn' %>
  <% end %>
  </div>
  <div class="col s3"></div>
</div>
