<div class="row edit-ad">
  <div class="col s3"></div>
  <div class="col s6">
    <h2>Edit advertisement</h2>
  <%= form_for @advertisement do |f| %>

    <% if @advertisement.errors.full_messages.any? %>
      <% @advertisement.errors.full_messages.each do |error_message| %>
        <%= error_message %> <br />
      <% end %>
    <% end %>

    <%= f.label :title, "Title" %><br />
    <%= f.text_field :title %>
    <%= f.label :description, "Description" %><br />
    <%= f.text_area :description %>
    <%= f.label :price_cents, "Price" %><br />
    <%= f.text_field :price_cents %>
    <%= f.label :amount, "Amount" %><br />
    <%= f.text_field :amount %>
    <%= f.label :status, "Status" %><br />
    <%= f.select :status, options_for_select(Hash[Advertisement.statuses.map { |k,v| [ k.split('_').first.capitalize, k ]}], @advertisement.status) %>
    <%= f.label :ad_type, "Type" %><br />
    <%= f.select :ad_type, options_for_select(Hash[Advertisement.ad_types.map { |k,v| [ k.split('_').first.capitalize, k ]}], @advertisement.ad_type) %>

    <%= f.submit 'Edit Advertisement', class: 'btn' %>
  <% end %>
  </div>
  <div class="col s3"></div>
</div>
